h1 {
    color :blueviolet ;
    font-style : italic ;
    text-align : center;
    background-color: aliceblue;
}
p {
 font-style: italic;
 color: red;
 font-weight: bold;
 background-color: aqua;
}
 

